In [ ]:
/* 0000.01 */
begin
    declare @dbname nvarchar(255) = db_name();

    if @dbname != 'ident'
        raiserror (N'not in "ident" database', 16, 1);

    if not exists (select * from sys.schemas where name = 'test')
        exec('create schema test');
end;

In [ ]:
/* 0001.01 - test.tbl_tst_users */
begin
    print 'create table "test.tbl_tst_users"';

    if not exists (select * from information_schema.tables where table_schema = 'test' and table_name = 'tbl_tst_users')
        create table test.tbl_tst_users (
            id uniqueidentifier not null constraint tbl_tst_users_df1 default newsequentialid(),
            username nvarchar(255) not null,
            firstname nvarchar(255) not null,
            lastname nvarchar(255) not null,
            email nvarchar(255) not null,
            mod_de nvarchar(255) not null,
            mod_timp datetime not null constraint tbl_tst_users_df2 default current_timestamp,
            constraint tbl_tst_users_pk primary key (id),
            constraint tbl_tst_users_uq1 unique (username),
            constraint tbl_tst_users_ck1 check (email like '%___@___%.__%')             
        );
end;

In [ ]:
/* 0001.02 - test.tbl_tst_values */
begin
    print 'create table "test.tbl_tst_values"';

    if not exists (select * from information_schema.tables where table_schema = 'test' and table_name = 'tbl_tst_values')
        create table test.tbl_tst_values(
            id uniqueidentifier not null constraint tbl_tst_values_df1 default newsequentialid(),
            field1 nvarchar(1000) not null,
            field2 int not null,
            field3 decimal(10,5) not null,
            field4 nvarchar(1000) not null,
            field5 date not null,
            field6 datetime
        );
end;

In [ ]:
/* 0001.03 - test.tbl_tst_column_names */
begin
    print 'create table "test.tbl_tst_column_names"';

    if not exists (select * from information_schema.tables where table_schema = 'test' and table_name = 'tbl_tst_column_names')
        create table test.tbl_tst_column_names (
            [id] uniqueidentifier not null constraint tbl_tst_column_names_df1 default newsequentialid(),
            [Field 1] nvarchar(1000) not null,
            [Field.2] int not null,
            [fiEld 3] decimal(10,5) not null,
            [Field_4] nvarchar(1000),
            [FIELD 5] date not null,
            [Field 6] datetime
        );
end;